/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

/* Based on <https://css-tricks.com/single-element-loaders-the-dots/>. */
.loader,
.loader:before,
.loader:after {
  width: 20px; /* update this to control the size */
  aspect-ratio: 0.5;
  display: grid;
  background: radial-gradient(#000 68%, #0000 72%) center/100% 50% no-repeat;
  animation: load 1.2s infinite linear calc(var(--_s, 0) * 0.4s);
  transform: translate(calc(var(--_s, 0) * 150%));
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}
.loader:before {
  --_s: -1;
}
.loader:after {
  --_s: 1;
}

@keyframes load {
  20% {
    background-position: top;
  }
  40% {
    background-position: bottom;
  }
  60% {
    background-position: center;
  }
}

/* Based on <https://scroll-driven-animations.style/demos/progress-bar/css/>. */
html {
  scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.progress {
  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
}

/* Based on <https://scroll-driven-animations.style/demos/scroll-shadows/css/>. */

.fade-list::before,
.fade-list::after {
  content: "";
  display: block;
  position: sticky;
  left: 0em;
  right: 0em;
  height: 0.75rem;
}

.fade-list::before {
  top: 0;
  background: radial-gradient(
    farthest-side at 50% 0,
    rgb(0 0 0 / 0.25),
    rgb(0 0 0 / 0)
  );
}

.fade-list::after {
  bottom: 0;
  background: radial-gradient(
    farthest-side at 50% 100%,
    rgb(0 0 0 / 0.25),
    rgb(0 0 0 / 0)
  );
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-list {
  overflow-y: auto;
  scroll-timeline: --scroll-timeline y;
}

.fade-list::before,
.fade-list::after {
  animation-name: reveal;
  animation-timeline: --scroll-timeline;
  animation-fill-mode: both;
}

.fade-list::before {
  animation-range: 1em 2em;
}

.fade-list::after {
  animation-direction: reverse;
  animation-range: calc(100% - 2em) calc(100% - 1em);
}

/* Look at me! I wrote an animation all by myself! 🤣 */

@keyframes show-button {
  0%,
  10% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
}

.appear-10\% {
  animation: show-button auto linear;
  animation-timeline: --page-scroll;
}
