/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

/* Based on <https://css-tricks.com/single-element-loaders-the-dots/>. */
.loader,
.loader:before,
.loader:after {
  width: 20px; /* update this to control the size */
  aspect-ratio: 0.5;
  display: grid;
  background: radial-gradient(#000 68%, #0000 72%) center/100% 50% no-repeat;
  animation: load 1.2s infinite linear calc(var(--_s, 0) * 0.4s);
  transform: translate(calc(var(--_s, 0) * 150%));
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}
.loader:before {
  --_s: -1;
}
.loader:after {
  --_s: 1;
}

@keyframes load {
  20% {
    background-position: top;
  }
  40% {
    background-position: bottom;
  }
  60% {
    background-position: center;
  }
}

/* Based on <https://scroll-driven-animations.style/demos/progress-bar/css/>. */

/* Look at me! I wrote an animation all by myself! 🤣 */

@keyframes show-button {
  0%,
  10% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
}

.appear-10\% {
  animation: show-button auto linear;
  animation-timeline: --page-scroll;
}

/* This fixes a layout bug in the chatbot. */
.octicon-link {
  display: none;
}

/* Header shadow (Slightly based on <https://scroll-driven-animations.style/demos/shrinking-header-shadow/css/>.) */
@keyframes add-shadow {
  to {
    @apply shadow-2xl py-0;
  }
}

.animate-scroll-shadow {
  animation: add-shadow linear both;
  animation-timeline: --page-scroll;
  animation-range: 0 150px;
}

html {
  scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes move-progress {
  to {
    @apply top-[0.125rem];
  }
}

@keyframes move-panel {
  from {
    --anchor-gap: 0.5rem;
  }
  to {
    --anchor-gap: 0.25rem;
  }
}

.animate-anchor-gap {
  animation: move-panel linear both;
  animation-timeline: --page-scroll;
  animation-range: 0 150px;
}

.progress {
  animation: move-progress linear both, grow-progress auto linear;
  animation-timeline: --page-scroll, --page-scroll;
  animation-range: 0 150px, 0% 100%;
  transform-origin: 0 50%;
}

/* Homepage carousel. */
.carousel {
  & > * {
    opacity: 0;
    animation: animate-fade 20s infinite;
  }

  & > :nth-child(1) {
    animation-delay: 0s;
  }

  & > :nth-child(2) {
    animation-delay: 5s;
  }

  & > :nth-child(3) {
    animation-delay: 10s;
  }
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
