/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

@layer base {
  html {
    scroll-timeline: --page-scroll block;
  }

  /* This fixes a layout bug in the chatbot. */
  .octicon-link {
    @apply hidden;
  }
}

@layer components {
  /* Based on <https://css-tricks.com/single-element-loaders-the-dots/>. */
  .loader,
  .loader:before,
  .loader:after {
    @apply grid w-5;
    aspect-ratio: 0.5;
    background: radial-gradient(#000 68%, #0000 72%) center/100% 50% no-repeat;
    animation: load 1.2s infinite linear calc(var(--_s, 0) * 0.4s);
    transform: translate(calc(var(--_s, 0) * 150%));
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
  }
  .loader:before {
    --_s: -1;
  }
  .loader:after {
    --_s: 1;
  }

  @keyframes load {
    20% {
      background-position: top;
    }
    40% {
      background-position: bottom;
    }
    60% {
      background-position: center;
    }
  }

  /*
   * Header shadow slightly based on <https://scroll-driven-animations.style/demos/shrinking-header-shadow/css/>.
   * Scroll progress based on <https://scroll-driven-animations.style/demos/progress-bar/css/>.
   */
  .animate-scroll-shadow {
    animation: add-shadow linear both;
    animation-timeline: --page-scroll;
    animation-range: 0 150px;
  }

  .progress {
    animation: move-progress linear both, grow-progress auto linear;
    animation-timeline: --page-scroll, --page-scroll;
    animation-range: 0 150px, 0% 100%;
    transform-origin: 0 50%;
  }

  .animate-anchor-gap {
    animation: move-panel linear both;
    animation-timeline: --page-scroll;
    animation-range: 0 150px;
  }

  @keyframes add-shadow {
    to {
      @apply py-0 shadow-2xl;
    }
  }

  @keyframes move-progress {
    to {
      @apply top-[0.125rem];
    }
  }

  @keyframes move-panel {
    from {
      --anchor-gap: 0.5rem;
    }
    to {
      --anchor-gap: 0.25rem;
    }
  }

  @keyframes grow-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  /* General hero styling. */
  .hero {
    @apply absolute inset-0 overflow-hidden;
    > img {
      @apply absolute -z-40 size-full origin-center scale-125 object-cover;
      animation: image-down linear both;
      animation-timeline: --page-scroll;
      animation-range: 0 100svh;
    }
  }

  @keyframes image-down {
    from {
      @apply left-0 top-0;
    }
    to {
      @apply left-0 top-3/5;
    }
  }
}

@layer utilities {
  /* Look at me! I wrote an animation all by myself! 🤣 */
  .appear-10\% {
    animation: show-button auto linear;
    animation-timeline: --page-scroll;
  }

  @keyframes show-button {
    0%,
    10% {
      @apply opacity-0;
    }
    20%,
    100% {
      @apply opacity-100;
    }
  }

  /* Footer styles. */
  .grid-cols-footer-mobile {
    grid-template-columns: 1fr auto;
  }
  .grid-cols-footer-desktop {
    grid-template-columns: 1fr repeat(2, auto);
  }
  .grid-rows-footer-mobile {
    grid-template-rows: repeat(2, auto);
  }
  .grid-rows-footer-desktop {
    grid-template-rows: 1fr;
  }

  .grid-cols-auto-2 {
    grid-template-columns: repeat(2, auto);
  }

  .grid-rows-message-box {
    grid-template-rows: 1fr auto;
  }
}
